
.invisible-at-first {
    display: none;
}
body {
    margin: 30px 0px;
}
.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}

.myCarousel {
    width:640px;
    height:360px;
}
#tHome {
    margin-right: 200px;
    padding-right: 200px;
    background-color: blue;
}